.contact-container
  margin: 10px 0
.app-container
  height: 100vh
  overflow-y: auto
  display: flex
  flex-direction: column
  align-items: center

.header-container
  background: #d8d6d6
  padding: 10px 0
  margin-bottom: 20px
  width: 100%